@import "../../global.scss";

.menu {
  width: 25vw;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: -30vw;
  transition: all 1s ease;

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2rem;
    color: white;
    @include laptop {
      font-size: 1.8rem;
    }
    @include tablet {
      font-size: 1rem;
    }
    @include mobile {
      font-size: 0.8rem;
    }

    li {
      margin-bottom: 2rem;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
        transition: all 1s ease;
      }
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
