@import "../../global.scss";

.topbar {
  width: 100%;
  height: 5rem;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
  box-shadow: $boxShadow;
  font-family: "Gugi", cursive;

  .wrapper {
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: inherit;
        font-size: 1.5rem;

        img {
          width: 3rem;
          margin-right: 2rem;
        }

        #transparent-logo {
          display: none;
        }
      }
    }

    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 2em;

      @include tablet {
        margin-left: 1em;
      }

      @include mobile {
        display: none;
      }

      .icon {
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 1.5em;
      }
      span {
        font-size: 1.5rem;
        margin-left: 1rem;
        @include tablet {
          font-size: 1rem;
        }
      }
    }

    .right {
      .menu-icon {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 1s ease;
        }
      }
    }
  }
  &.active {
    background-color: $mainColor;
    color: white;

    .left {
      .logo {
        #original-logo {
          display: none;
          transition: all 1s ease-out;
        }

        #transparent-logo {
          display: block;
        }
      }
    }

    .menu-icon {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
