@import "../../global.scss";

.portfolio {
  background-color: lightgray;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "Gugi", cursive;
    font-size: 3rem;
    color: white;

    @include laptop {
      overflow: hidden;
    }

    @include mobile {
      flex: 10%;
      font-size: 1.5rem;
    }
  }

  ul {
    margin: 1rem;
    padding: 0;
    list-style: none;
    display: flex;
    width: 90%;
    justify-content: space-around;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }

    li {
      font-family: "Gugi", cursive;
      font-size: 1.5rem;
      color: white;
      padding: 0.7rem;
      border-radius: 10px;
      cursor: pointer;
      @include laptop {
        overflow: hidden;
      }
      @include mobile {
        font-size: 1rem;
        padding: 0.5rem;
        margin-right: 2rem;
      }

      &.active {
        text-decoration: underline;
        text-underline-offset: 0.3rem;
      }
    }
  }

  .container {
    width: 90%;
    height: 80%;
    margin-top: 1rem;
    overflow-y: auto;

    @include mobile {
      width: 100%;
      margin: 0 auto;
    }
  }
}
