@import "../../global.scss";

.portfolioList {
  font-family: "Concert One", cursive;
  font-size: 1.5rem;
  margin-right: 5rem;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  &.active {
    background-color: $mainColor;
    color: white;
    box-shadow: $boxShadow;
  }
}
