.UI-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  // grid-template-rows: repeat(2, auto);
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem 1rem;
  grid-template-areas:
    "first-image first-image third-image fourth-image fourth-image fifth-image fifth-image fifth-image"
    "second-image second-image third-image fourth-image fourth-image fifth-image fifth-image fifth-image";
  width: 100%;
  height: 90%;
  padding: 0rem 1rem 1rem 2rem;
  align-items: center;
  overflow: hidden;

  .image-container {
    overflow: hidden;
    padding: 1rem;
    width: 100%;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: top;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.5s ease-out;
  }

  .image:hover {
    transform: scale(1.05);
  }
}

.first-image {
  grid-area: first-image;
}

.second-image {
  grid-area: second-image;
}

.third-image {
  grid-area: third-image;
}

.fourth-image {
  grid-area: fourth-image;
}

.fifth-image {
  grid-area: fifth-image;
}
